.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: #2e4595;
    font-weight: bold;
  }

  .info-footer1 span,
   {
    padding: 5px;
  }
  
  .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .redes a img {
    width: 50px;
  }