body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
 
}

.showcase {
  background: url('https://images.pexels.com/photos/177557/pexels-photo-177557.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat/ center/cover;
  height: 400px;

}

.showcase .overlay {
  background-color: rgba(0,0,0,0,5);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width:1024px) {
  .showcase {
    background: url('https://images.pexels.com/photos/177557/pexels-photo-177557.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat/ center/cover;
    height: 400px;
  
  }

}