.navbar{
    padding: 30px;
}
.navbar a{
    text-decoration: none;
    color:black;
    width: auto;
    padding: 5px;
    border-radius: 25px;
    font-size: 18px;
}
.navbar a:hover{
    color: white;
    padding: 10px;
    font-size: 15px;
}
.navbar span{
    margin-left: 10px;
}